In [1]:
from shapely.geometry import Point, Polygon
from shapely import wkt
import skmob
from skmob.preprocessing import filtering, detection
from skmob.utils.plot import plot_gdf
from skmob.tessellation import tilers
import pandas as pd
import geopandas as gpd
import webbrowser
import numpy as np
import networkx as nx

pd.set_option('display.max_columns', 500)

In [2]:
meters = 500

In [ ]:
#REQUIRE a geodataframe with a column named 'geometry_source' and another named 'geometry_target'
#                   and with an unique row-identifier column named 'id'
#REQUIRE a tesselletion in OpenStreetMap format

def flow_from_gdf_in_tess(df_city, tess_city):
    gdf_1 = gpd.GeoDataFrame(df_city, crs="EPSG:4326", geometry=df_city['geometry_source']).drop(['geometry_target', 'geometry_source'],axis =1)
    
    res_merge_source = gpd.sjoin(tess_city, gdf_1, how='right', op='contains')
    res_merge_source.dropna(inplace=True)
    res_merge_source.reset_index(drop=True, inplace=True)
    
    gdf_2 = gpd.GeoDataFrame(df_city, crs="EPSG:4326", geometry=df_nyc['geometry_target']).drop(['geometry_target', 'geometry_source'],axis =1)

    res_merge_dest = gpd.sjoin(tess_city, gdf_2, how='right', op='contains')
    res_merge_dest.dropna(inplace=True)
    res_merge_dest.reset_index(drop=True,inplace=True)
    
    res_merge_dest = gpd.sjoin(tess_nyc, gdf_2, how='right', op='contains')
    res_merge_dest.dropna(inplace=True)
    res_merge_dest.reset_index(drop=True,inplace=True)
    
    
    fdf = res_merge_dest.merge(res_merge_source, how='inner', on=['id'])
    fdf = fdf[['tile_ID_x','tile_ID_y']]
    
    
    flusso = fdf.groupby(["tile_ID_x", "tile_ID_y"]).size().reset_index(name="flow")
    flusso = flusso.rename(columns={'tile_ID_x': 'origin', 'tile_ID_y':'destination'})
    
    fdf_city = skmob.FlowDataFrame(data = flusso,tessellation=tess_city, tile_id='tile_ID', origin ='origin', 
                              destination = 'destination', flow = 'flow')
    
    return fdf_city

In [3]:
def wkt_loads(x):
    try:
        return wkt.loads(x)
    except Exception:
        return None

In [4]:
tess_nyc = tilers.tiler.get("squared", meters=meters, base_shape="New York City, New York")

/home/giovanni/anaconda3/envs/skmob/lib/python3.7/site-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [5]:
df_nyc = pd.read_csv('data/201802-citibike-tripdata.csv.zip')

In [8]:
df_nyc['id'] = df_nyc.apply(lambda x: hash(tuple(x)), axis = 1)

df_nyc.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,id
0,771,2018-02-01 00:14:16.4120,2018-02-01 00:27:08.2290,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,14536,Subscriber,1952,1,7793184486336008757
1,264,2018-02-01 05:14:45.1790,2018-02-01 05:19:09.6860,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,32820,Subscriber,1965,1,4980602729605530865
2,819,2018-02-01 06:48:55.2290,2018-02-01 07:02:35.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,405,Washington St & Gansevoort St,40.739323,-74.008119,16131,Subscriber,1968,1,4366693933028815079
3,646,2018-02-01 07:12:50.1740,2018-02-01 07:23:36.5280,72,W 52 St & 11 Ave,40.767272,-73.993929,2006,Central Park S & 6 Ave,40.765909,-73.976342,20831,Subscriber,1990,2,6469425108598169514
4,1312,2018-02-01 07:46:48.8750,2018-02-01 08:08:41.5430,72,W 52 St & 11 Ave,40.767272,-73.993929,435,W 21 St & 6 Ave,40.741740,-73.994156,15899,Subscriber,1957,1,6700852387564580603

In [9]:
df_nyc['geometry_source'] = [Point(xy) for xy in zip(df_nyc['start station longitude'],df_nyc['start station latitude'])]
df_nyc['geometry_target'] = [Point(xy) for xy in zip(df_nyc['end station longitude'],df_nyc['end station latitude'])]


df_nyc['id'] = df_nyc.apply(lambda x: hash(tuple(x)), axis = 1)

columns = ['tripduration', 'start station name', 'start station latitude', 'start station longitude', 'end station name', 'end station latitude', 'end station longitude', 'usertype', 'birth year', 'gender', 'starttime', 'stoptime', 'bikeid']
df_nyc = df_nyc.drop(columns, axis = 1) 

df_nyc.head()

,start station id,end station id,id,geometry_source,geometry_target
0,72,379,7793184486336008757,POINT (-73.99392888 40.76727216),POINT (-73.99160000000001 40.749156)
1,72,478,4980602729605530865,POINT (-73.99392888 40.76727216),POINT (-73.99884222 40.76030096)
2,72,405,4366693933028815079,POINT (-73.99392888 40.76727216),POINT (-74.00811899999999 40.739323)
3,72,2006,6469425108598169514,POINT (-73.99392888 40.76727216),POINT (-73.97634151 40.76590936)
4,72,435,6700852387564580603,POINT (-73.99392888 40.76727216),POINT (-73.99415556 40.74173969)

In [ ]:
fdf_nyc = flow_from_gdf_in_tess(df_nyc, tess_nyc)